@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css");
.logininput {
  width: 100%;
  background: #83cce2;
  border: none;
}

#login-box {
  min-height: 500px;
  background: url(../images/login_bg.jpg);
  padding: 10vw;
  background-size: cover;
}
#login-box .container {
  max-width: 650px;
}
@media (max-width: 769px) {
  #login-box {
    background-position: center;
  }
}

.container-fluid {
  padding: 0;
}

.else-info {
  text-align: right;
  margin-top: 5px;
}
.else-info a {
  margin-left: 5px;
  color: #333;
}
.else-info a:hover {
  color: #83cce2;
}

#register-btn {
  width: 100%;
}

.loader {
  opacity: 0;
  transition: all 0.35s ease;
}
.loader.show {
  opacity: 1;
  transition: all 0.35s ease;
}

.swal2-styled.swal2-confirm {
  background: #83cce2 !important;
}

.list-left {
  margin-top: 1rem;
}
@media (max-width: 769px) {
  .list-left {
    position: static;
    margin-bottom: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .list-left {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .list-left {
    display: none !important;
  }
}
.list-left.fixed {
  position: fixed;
  max-width: 330px;
  top: 0px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .list-left.fixed {
    position: static;
  }
}
@media (max-width: 769px) {
  .list-left.fixed {
    position: static;
  }
}

.list-right {
  min-height: 800px;
}

.news-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  min-height: 500px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .news-list {
    margin-top: 15px;
  }
}
.news-list .list-long-ad {
  padding-bottom: 1.5rem;
}
@media (max-width: 769px) {
  .news-list .list-long-ad {
    display: none;
  }
}
.news-list .news-tag {
  padding-left: 15px !important;
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-top: 5px;
}
.news-list .news-tag li {
  color: #fff;
  display: inline-block;
  background: #53b765;
  padding: 0px 5px;
}
.news-list .news-tag li a {
  color: #fff;
  text-decoration: none;
  font-size: 0.95rem;
}
.news-list .news-date {
  margin: 0;
  text-align: right;
  color: #999;
  padding: 10px 15px 0 0;
}
@media (max-width: 769px) {
  .news-list .news-date {
    margin: 0.5rem 0;
  }
}
.news-list .news-title {
  font-size: 1.4rem;
  font-weight: bold;
  color: #37a3c3;
  padding-left: 15px;
}
.news-list .news-main {
  padding-left: 15px;
  line-height: 175%;
  padding-right: 15px;
  color: #666;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}
.news-list li {
  border-bottom: #53b765 solid 1px;
  border-right: #53b765 solid 1px;
  border-top: #53b765 solid 1px;
  border-left: #53b765 solid 1px;
  margin-bottom: 1rem;
}
.news-list li .pleft {
  padding-left: 0;
}
@media (max-width: 769px) {
  .news-list li .pleft {
    padding-left: 0px;
  }
}
@media (max-width: 769px) {
  .news-list li {
    border: none;
    border-bottom: #53b765 solid 1px;
  }
}
.news-list li .col-md-3 a {
  position: relative;
  display: block;
}
@media (max-width: 769px) {
  .news-list li .col-md-3 a img {
    width: 100%;
  }
}
.news-list li .col-md-3 a span {
  background: rgba(55, 163, 195, 0.75);
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 1;
  opacity: 0;
  transition: all 0.35s ease;
}
.news-list li .col-md-3 a span:before {
  width: 80%;
  height: 80%;
  border: #fff solid 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  content: "";
}
.news-list li .col-md-3 a span:after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  content: "立即閱讀";
  color: #fff;
  font-size: 1.6rem;
  text-align: center;
  font-weight: bold;
}
.news-list li .col-md-3 a span:hover {
  opacity: 1;
  transition: all 0.35s ease;
}
.news-list .list-long-ad img {
  max-width: 1320px;
  width: 100%;
}

.breadcrumbstyle .breadcrumb {
  margin-bottom: 0.5rem;
}

#dpd1, #dpd2 {
  text-align: center;
  padding: 6px 0;
  border-radius: 0.25rem;
  border: #6c757d solid 1px;
}
@media (max-width: 769px) {
  #dpd1, #dpd2 {
    max-width: 35%;
    width: 100%;
  }
}

.searchBtn {
  max-width: 24%;
  background: #6c757d;
  color: #fff;
  font-weight: bold;
}
@media (max-width: 769px) {
  .searchBtn {
    width: 100%;
  }
}
@media (max-width: 351px) {
  .searchBtn {
    max-width: 22%;
  }
}

.author-info .author-title {
  margin-bottom: 15px;
  font-weight: bold;
}
.author-info .author-name {
  font-size: 2rem;
  font-weight: bold;
  color: #37a3c3;
  text-align: center;
}
.author-info .author-images {
  text-align: center;
}
.author-info .author-images img {
  border-radius: 50%;
  margin: 0 auto;
}
.author-info .post-date {
  text-align: center;
  margin-bottom: 1rem;
}
.author-info ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: center;
}
.author-info ul li {
  margin-bottom: 5px;
}
.author-info ul li a {
  background-color: #0090ff;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  padding: 0 5px;
}

.inside-main {
  font-size: 1.2rem;
  line-height: 175%;
}
@media (max-width: 769px) {
  .inside-main {
    margin-top: 25px;
  }
}
.inside-main .article-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.share-box .fb-icon {
  background: #1B4791;
  padding: 5px 10px 8px 10px;
  border-radius: 5px;
}
.share-box .line-icon {
  background: #00BD00;
  padding: 5px 10px 8px 10px;
  border-radius: 5px;
}
.share-box .t-icon {
  background: #5FA9DD;
  padding: 5px 10px 8px 10px;
  border-radius: 5px;
}

.else-news {
  margin-top: 50px;
}
.else-news h3 {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  position: relative;
  display: block;
  letter-spacing: 1px;
  font-weight: 600;
}
.else-news h3:before {
  content: "";
  background: #53b765;
  height: 4px;
  width: 42%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}
@media (max-width: 769px) {
  .else-news h3:before {
    width: 30%;
  }
}
.else-news h3:after {
  content: "";
  background: #53b765;
  height: 4px;
  width: 42%;
  position: absolute;
  left: 0;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 769px) {
  .else-news h3:after {
    width: 30%;
  }
}
.else-news a {
  text-decoration: none;
}
.else-news a p {
  color: #333;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.else-news .else-news-list p {
  color: #333;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 175%;
}
.else-news .else-news-list p.title {
  font-size: 1.4rem;
  font-weight: bold;
}

.follow-us-box {
  margin: 1.5rem 0 3rem 0;
  text-align: center;
}
.follow-us-box h6 {
  font-size: 1.4rem;
}

.act-news-box h4 {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  position: relative;
  display: block;
  letter-spacing: 1px;
  font-weight: 600;
}
.act-news-box h4:before {
  content: "";
  background: #53b765;
  height: 4px;
  width: 42%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}
.act-news-box h4:after {
  content: "";
  background: #53b765;
  height: 4px;
  width: 42%;
  position: absolute;
  left: 0;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 769px) {
  .hot-news-box {
    margin-top: 25px;
  }
}
.hot-news-box h2 {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  position: relative;
  display: inline-block;
  letter-spacing: 1px;
  font-weight: 600;
}
.hot-news-box h2:before {
  content: "";
  background: #4abdac;
  height: 4px;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 2;
  bottom: -10px;
}
.hot-news-box ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.hot-news-box ul li {
  border-bottom: #ccc solid 1px;
  transition: all 0.5s ease;
}
.hot-news-box ul li:last-child {
  border-bottom: none;
}
.hot-news-box ul li:hover {
  background: #eee;
  transition: all 0.5s ease;
}
.hot-news-box ul li .num {
  font-size: 3.5rem;
  color: #E10F0F;
  font-weight: bold;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .hot-news-box ul li .num {
    font-size: 2.5rem;
  }
}
.hot-news-box ul li a {
  text-decoration: none;
  color: #333;
  font-size: 1.1rem;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .hot-news-box ul li a {
    font-size: 1rem;
  }
}
.hot-news-box ul li a .col-10 {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}

.author-box img {
  margin-right: 10px;
  border-radius: 50%;
}

.act-date {
  font-size: 1.6rem;
}
.act-date span {
  color: lightcoral;
  font-weight: bold;
}

.act-way {
  font-size: 1.6rem;
}
.act-way span {
  color: lightcoral;
  font-weight: bold;
}

.act-namelist {
  font-size: 1.6rem;
}
.act-namelist span {
  color: lightcoral;
  font-weight: bold;
}

.edit {
  margin: 1.5rem 0;
  font-size: 1.4rem;
  border-bottom: #ccc solid 1px;
  padding-bottom: 1.5rem;
  line-height: 175%;
}
.edit img {
  max-width: 100%;
  height: auto;
}
@media (max-width: 769px) {
  .edit {
    font-size: 1.2rem;
  }
}

.h1-title,
.h2-title,
.problem-title {
  margin-bottom: 0;
  font-size: 1.8rem;
  position: relative;
  display: inline-block;
  letter-spacing: 1px;
  font-weight: 600;
  line-height: 1.2;
}
.h1-title:before,
.h2-title:before,
.problem-title:before {
  content: "";
  background: #4abdac;
  height: 4px;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 2;
  bottom: -10px;
}

.pr-box {
  background: #eee;
  border: #333 solid 1px;
  margin: 50px 0;
  padding: 15px;
  font-size: 1.6rem;
  text-align: center;
}
@media (max-width: 769px) {
  .pr-box {
    font-size: 1.2rem;
  }
}
.pr-box .form-check {
  max-width: 10%;
  margin: 0 auto;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .pr-box .form-check {
    max-width: 15%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .pr-box .form-check {
    max-width: 20%;
  }
}
@media (max-width: 769px) {
  .pr-box .form-check {
    max-width: 100%;
    text-align: left;
  }
}
.pr-box .form-check-input:checked {
  background-color: #83cce2;
  border: #83cce2;
}
.pr-box .prbtn {
  background: #37a3c3;
  border: none;
  width: 15%;
}
@media (max-width: 769px) {
  .pr-box .prbtn {
    width: 100%;
  }
}

.breadcrumbstyle a {
  color: #333;
}

.about-box h2, .about-box h3 {
  color: #53b765;
  text-align: center;
  font-weight: bold;
  margin-bottom: 50px;
}
.about-box p {
  font-size: 1.25rem;
  line-height: 175%;
}
.about-box .submit-title {
  width: 640px;
  max-width: 640px;
}
@media (max-width: 769px) {
  .about-box .submit-title {
    width: 100%;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

@media (max-width: 769px) {
  #subframe {
    height: 1200px;
    max-height: 1100px;
  }
}

#ask-form {
  max-width: 640px;
  width: 100%;
}

.way-title {
  font-size: 1.4rem;
  font-weight: bold;
}

.btncolor {
  background: #53b765;
  border: none;
}
.btncolor:hover, .btncolor.active {
  background-color: #53b765;
}

html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Rubik", "Microsoft JhengHei", sans-serif;
  -webkit-overflow-scrolling: touch;
}

#loadingline {
  background-color: #37a3c3;
  height: 3px;
  width: 0px;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 20;
}

::-moz-selection {
  background: #d4f2c9;
}

::selection {
  background: #d4f2c9;
}

.mcolor {
  color: #83cce2;
}

.dateifo {
  position: absolute;
  z-index: 5;
  top: 180px;
  left: 150px;
}
@media (min-width: 1201px) and (max-width: 1440px) {
  .dateifo {
    top: 12vh;
    left: 5px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .dateifo {
    display: none;
  }
}
@media (max-width: 769px) {
  .dateifo {
    padding-top: 10px;
    position: absolute;
    top: 15px;
    z-index: 11;
    left: 120px;
  }
}
.dateifo p {
  margin: 0;
  font-weight: bold;
  line-height: 100%;
}
.dateifo .year {
  color: #37a3c3;
  font-size: 3rem;
}
@media (min-width: 1201px) and (max-width: 1440px) {
  .dateifo .year {
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .dateifo .year {
    font-size: 3rem;
  }
}
@media (max-width: 769px) {
  .dateifo .year {
    font-size: 2.5rem;
  }
}
.dateifo .md {
  color: #53b765;
  font-size: 2.5rem;
  text-align: right;
}
@media (min-width: 1201px) and (max-width: 1440px) {
  .dateifo .md {
    font-size: 1rem;
  }
}
@media (max-width: 769px) {
  .dateifo .md {
    font-size: 1rem;
  }
}

#header {
  height: 170px;
  width: 100%;
}
@media (max-width: 769px) {
  #header {
    height: 100px;
  }
  #header.vis {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background: #fff;
  }
}
#header .container, #header .row {
  height: inherit;
}
#header #logo {
  padding: 10px;
}
@media (max-width: 769px) {
  #header #logo {
    padding: 0;
  }
}
#header #logo img {
  width: 90%;
}
@media (max-width: 769px) {
  #header #logo img {
    width: 35%;
  }
}
#header .loginstyle {
  width: 46px;
  height: 46px;
  line-height: 46px;
  font-size: 1rem;
  background: #37a3c3;
  color: #fff;
  border-radius: 5px;
  padding: 8px 10px;
  text-decoration: none;
  cursor: pointer;
}
@media (max-width: 769px) {
  #header .loginstyle {
    background: #83cce2;
    height: 46px;
    width: 46px;
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    display: inline-block;
    border-radius: 0;
    transform: translateY(6px);
    line-height: 46px;
  }
}
@media (max-width: 769px) {
  #header #nav {
    padding-top: 25px;
  }
}
#header #nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
@media (max-width: 769px) {
  #header #nav ul {
    flex-wrap: wrap;
    padding-top: 25px;
  }
}
#header #nav ul li {
  position: relative;
}
@media (max-width: 769px) {
  #header #nav ul li {
    flex: 100%;
    padding-bottom: 10px;
    margin-top: 5px;
    width: 50%;
    position: relative;
  }
  #header #nav ul li:after {
    position: absolute;
    content: "";
    background: #fff;
    height: 1px;
    top: 50%;
    transform: translateX(-50%);
    width: 80%;
    top: -8px;
    left: 50%;
  }
  #header #nav ul li:first-child:after {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #header #nav ul li {
    padding: 0 10px;
  }
}
#header #nav ul li a {
  font-size: 1.25rem;
  color: #333;
  font-weight: bold;
  text-decoration: none;
}
@media (min-width: 768px) and (max-width: 991px) {
  #header #nav ul li a {
    font-size: 1.1rem;
  }
}
@media (max-width: 769px) {
  #header #nav ul li a {
    color: #fff;
  }
}
#header #nav ul li a:hover {
  color: #83cce2;
}
@media (max-width: 769px) {
  #header #nav ul li a:hover {
    color: #fff;
  }
}
#header #nav ul li ul {
  border: #83cce2 solid 1px;
  padding: 10px 0;
  display: none;
  position: absolute;
  top: 30px;
  width: 100%;
  left: 0;
  z-index: 5;
}
@media (max-width: 769px) {
  #header #nav ul li ul {
    padding-top: 15px;
    position: static;
  }
}
#header #nav ul li ul li {
  margin-top: 5px;
}
@media (max-width: 769px) {
  #header #nav ul li ul li {
    width: 100%;
  }
}
#header #nav ul li ul li a {
  font-size: 1rem;
  color: #83cce2;
  display: block;
  transition: all 0.5s ease;
}
@media (max-width: 769px) {
  #header #nav ul li ul li a {
    color: #fff;
  }
}
#header #nav ul li ul li a:hover {
  color: #83cce2;
  transition: all 0.5s ease;
}
@media (max-width: 769px) {
  #header #nav ul li ul li a:hover {
    color: #fff;
  }
}
#header #nav svg.searchicon {
  color: #333;
}
@media (max-width: 769px) {
  #header #nav svg {
    color: #fff;
  }
}
@media (max-width: 769px) {
  #header .menu-box {
    display: none;
    position: fixed;
    background: #83cce2;
    z-index: 10;
    top: 0;
    left: 0;
    top: 100px;
    height: 100vh;
  }
}
#header #menuicon {
  font-size: 2rem;
  background: #83cce2;
  color: #fff;
  width: 46px;
  height: 46px;
  display: block;
  line-height: 46px;
  font-weight: bold;
  text-align: center;
}
@media (max-width: 769px) {
  #header #menuicon {
    display: inline-block;
    transform: translateY(2px);
  }
}
#header .contact {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
#header .contact li {
  text-align: center;
  padding: 0 3px;
}
#header .contact li a {
  font-size: 1.4rem;
  color: #fff;
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 50%;
  line-height: 42.5px;
  text-align: center;
  background: #333;
  transition: all 0.5s ease;
}
#header .contact li a:hover {
  background: #53b765;
  transition: all 0.5s ease;
}
#header .contact li a svg {
  width: 55%;
}
@media (min-width: 768px) and (max-width: 991px) {
  #header .contact li a img {
    max-width: 75%;
  }
}
#header i.bi.bi-list {
  font-size: 1.2rem;
  color: #333;
}
@media (max-width: 769px) {
  #header i.bi.bi-list {
    color: #fff;
    font-size: 1.6rem;
  }
}
#header .searchinput {
  border: none;
  border-bottom: #ccc solid 1px;
}
@media (max-width: 769px) {
  #header .searchinput {
    width: 80%;
    margin: 0 auto;
  }
}
@media (max-width: 769px) {
  #header .col.d-md-none.align-self-center {
    text-align: right;
  }
}

.searchbox {
  position: relative;
  margin-bottom: 0rem;
}
.searchbox i {
  position: absolute;
  right: 15px;
  z-index: 11;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.5rem;
  color: #999;
}
@media (max-width: 769px) {
  .searchbox i {
    right: 45px;
  }
}

.slider-box {
  min-height: 350px;
  max-height: 692px;
  overflow: hidden;
}
@media (max-width: 769px) {
  .slider-box {
    min-height: inherit;
  }
}

@media (max-width: 769px) {
  .slider-bg {
    min-height: inherit;
  }
}
.slider-bg .owl-stage {
  position: relative;
  max-height: 700px;
}
@media (max-width: 769px) {
  .slider-bg .owl-stage {
    padding-left: 0;
    max-height: 220px;
  }
}
.slider-bg .owl-stage a {
  background: rgba(255, 255, 255, 0.85);
  position: absolute;
  left: 0px;
  padding: 20px 20px 0 20px;
  top: 75%;
  transform: translateY(-50%);
  color: #333;
  font-size: 2rem;
  text-decoration: none;
  width: 30vw;
  font-weight: bold;
}
@media (max-width: 769px) {
  .slider-bg .owl-stage a {
    top: 50%;
  }
}
.slider-bg .owl-stage a .index-title {
  -webkit-line-clamp: 1;
  font-size: 1.8rem;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  margin-bottom: 10px;
}
@media (max-width: 769px) {
  .slider-bg .owl-stage a .index-title {
    font-size: 1rem;
    margin-bottom: 0;
  }
}
.slider-bg .owl-stage a P {
  color: #333;
  font-size: 1rem;
  line-height: 150%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}
@media (max-width: 769px) {
  .slider-bg .owl-stage a P {
    display: none;
  }
}
@media (max-width: 769px) {
  .slider-bg .owl-stage a {
    font-size: 0.9rem;
    padding: 5px;
    width: 80vw;
    left: 0;
    transform: translateY(20%);
  }
}
.slider-bg .owl-dots {
  margin-top: 0 !important;
  position: absolute !important;
  width: 100%;
  bottom: 40px !important;
}
@media (min-width: 768px) and (max-width: 991px) {
  .slider-bg .owl-dots {
    bottom: 0px !important;
  }
}
@media (max-width: 769px) {
  .slider-bg .owl-dots {
    bottom: 0px !important;
  }
}
.slider-bg .owl-dot.active span, .slider-bg .owl-theme .owl-dots .owl-dot:hover span {
  background: #fff !important;
}

.newlist.talklist a span {
  background-color: rgba(118, 20, 175, 0.7);
}
.newlist.talklist .post-tag a {
  color: rgba(118, 20, 175, 0.7);
}
.newlist.talklist .post-tag span {
  background-color: rgba(118, 20, 175, 0.7);
}
.newlist.chlange a span {
  background-color: rgba(180, 130, 71, 0.7);
}
.newlist.chlange .post-tag a {
  color: rgba(180, 130, 71, 0.7);
}
.newlist.chlange .post-tag span {
  background-color: rgba(180, 130, 71, 0.7);
}
.newlist.edulist a span {
  background-color: rgba(255, 123, 137, 0.7);
}
.newlist.edulist .post-tag a {
  color: rgba(255, 123, 137, 0.7);
}
.newlist.edulist .post-tag span {
  background-color: rgba(255, 123, 137, 0.7);
}
.newlist.medlist a span {
  background-color: rgba(240, 133, 0, 0.7);
}
.newlist.medlist .post-tag a {
  color: rgba(240, 133, 0, 0.7);
}
.newlist.medlist .post-tag span {
  background-color: rgba(240, 133, 0, 0.7);
}
.newlist .save {
  display: inline-block;
  color: #53b765;
  font-size: 1.2rem;
}
.newlist a {
  text-decoration: none;
  display: block;
  position: relative;
}
.newlist a span {
  background: rgba(83, 183, 101, 0.7);
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 1;
  opacity: 0;
  transition: all 0.35s ease;
  top: 0;
  left: 0;
}
.newlist a span:before {
  width: 80%;
  height: 80%;
  border: #fff solid 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  content: "";
}
.newlist a span:after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  content: "立即閱讀";
  color: #fff;
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
}
@media (min-width: 1441px) {
  .newlist a span:after {
    font-size: 1.6rem;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .newlist a span:after {
    font-size: 1.2rem;
  }
}
@media (max-width: 769px) {
  .newlist a span:after {
    font-size: 1.2rem;
  }
}
.newlist a span:hover {
  opacity: 1;
  transition: all 0.35s ease;
}
.newlist .title {
  margin: 0;
  color: #333;
  font-size: 1.25rem;
  font-weight: bold;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 175%;
}
@media (max-width: 769px) {
  .newlist .title {
    line-height: 150%;
    margin-bottom: 5px;
    font-size: 1.1rem;
    -webkit-line-clamp: 2;
  }
}
.newlist .news-main {
  color: #333;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 175%;
}
@media (max-width: 769px) {
  .newlist .row {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.newlist .row span {
  background: #53b765;
  color: #fff;
  border-radius: 3px;
  padding: 1px 5px;
}
@media (max-width: 769px) {
  .newlist .row .post-tag {
    text-align: center;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .newlist .row .post-tag {
    width: 100%;
    max-width: 100%;
    text-align: center;
  }
}
.newlist .row .post-date {
  text-align: right;
  color: #333;
}
@media (max-width: 769px) {
  .newlist .row .post-date {
    text-align: center;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .newlist .row .post-date {
    width: 100%;
    max-width: 100%;
    text-align: center;
  }
}
@media (min-width: 1201px) and (max-width: 1440px) {
  .newlist .row .post-date {
    font-size: 0.9rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .news-point .col-lg-6 {
    margin-bottom: 1.5rem;
  }
}
@media (max-width: 769px) {
  .news-point .col-lg-6 {
    margin-bottom: 1.5rem;
  }
}

.more-news {
  color: #fff;
  padding: 5px 10vw;
  text-decoration: none;
  border-radius: 3px;
  border: #37a3c3 solid 1px;
  font-size: 1.2rem;
  color: #37a3c3;
  transition: all 0.35s ease;
}
.more-news:hover {
  background: #37a3c3;
  color: #fff;
  transition: all 0.35s ease;
}

.focus-report h2, .focus-report h3, .focus-report h4, .focus-report h5 {
  margin-bottom: 0;
  font-size: 1.8rem;
  position: relative;
  letter-spacing: 1px;
  font-weight: 600;
}
@media (max-width: 769px) {
  .focus-report h2, .focus-report h3, .focus-report h4, .focus-report h5 {
    font-size: 1.6rem;
  }
}
.focus-report h2:after, .focus-report h3:after, .focus-report h4:after, .focus-report h5:after {
  content: "";
  background: #53b765;
  height: 4px;
  width: 42%;
  position: absolute;
  left: 0;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
}
@media (min-width: 992px) and (max-width: 1200px) {
  .focus-report h2:after, .focus-report h3:after, .focus-report h4:after, .focus-report h5:after {
    width: 40%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .focus-report h2:after, .focus-report h3:after, .focus-report h4:after, .focus-report h5:after {
    width: 35%;
  }
}
@media (max-width: 769px) {
  .focus-report h2:after, .focus-report h3:after, .focus-report h4:after, .focus-report h5:after {
    width: 30%;
  }
}
.focus-report h2:before, .focus-report h3:before, .focus-report h4:before, .focus-report h5:before {
  content: "";
  background: #53b765;
  height: 4px;
  width: 42%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .focus-report h2:before, .focus-report h3:before, .focus-report h4:before, .focus-report h5:before {
    width: 40%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .focus-report h2:before, .focus-report h3:before, .focus-report h4:before, .focus-report h5:before {
    width: 35%;
  }
}
@media (max-width: 769px) {
  .focus-report h2:before, .focus-report h3:before, .focus-report h4:before, .focus-report h5:before {
    width: 30%;
  }
}
.focus-report .ch5:after, .focus-report .ch5:before {
  background-color: #f08500;
}
.focus-report .ch4:after, .focus-report .ch4:before {
  background-color: #ff7b89;
}
.focus-report .ch3:after, .focus-report .ch3:before {
  background-color: #b48247;
}
.focus-report .ch2:after, .focus-report .ch2:before {
  background-color: #7614af;
}
.focus-report .master-block a {
  position: relative;
  display: block;
  text-align: center;
}
.focus-report .master-block a img {
  width: 100%;
}
.focus-report .master-block a span {
  position: absolute;
  background: #fff;
  bottom: 20px;
  width: 95%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 10px 5px 10px;
  color: #333;
  font-size: 1.2rem;
  font-weight: bold;
}
@media (min-width: 1201px) and (max-width: 1440px) {
  .focus-report .master-block a span {
    bottom: 15px;
  }
}
@media (max-width: 769px) {
  .focus-report .master-block a span {
    bottom: 10px;
    font-size: 1rem;
  }
}
.focus-report .master-block a:before {
  width: 95%;
  height: 95%;
  position: absolute;
  border: #fff 8px solid;
  content: "";
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 769px) {
  .focus-report .four-block {
    margin-top: 1rem;
  }
}
.focus-report .four-block .row .col-6 a {
  cursor: default;
  display: block;
  position: relative;
  transition: all 0.35s ease;
}
.focus-report .four-block .row .col-6 a:hover {
  transition: all 0.35s ease;
}
.focus-report .four-block .row .col-6 a:hover:before, .focus-report .four-block .row .col-6 a:hover span {
  opacity: 1;
  transition: all 0.35s ease;
}
.focus-report .four-block .row .col-6 a:before {
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.focus-report .four-block .row .col-6 a span {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  transition: all 0.35s ease;
}
.focus-report .four-block .row .col-6 img {
  width: 100%;
}
.focus-report .four-block .row .col-6:first-child {
  margin-bottom: 15px;
}
@media (max-width: 769px) {
  .focus-report .four-block .row .col-6:nth-child(odd) {
    padding-right: 7.5px;
  }
}
@media (max-width: 769px) {
  .focus-report .four-block .row .col-6:nth-child(even) {
    padding-left: 7.5px;
  }
}
.focus-report .news-box {
  padding: 50px;
  border: #83cce2 solid 3px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .focus-report .news-box {
    padding: 15px;
  }
}
@media (max-width: 769px) {
  .focus-report .news-box {
    padding: 15px 35px;
  }
}
.focus-report .news-box .item a {
  display: block;
  position: relative;
}
.focus-report .news-box .item a:after {
  background: #fcda79;
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  bottom: 0;
  z-index: 2;
  height: 10px;
}
.focus-report .news-box .item p {
  margin: 1.5rem 0 0 0;
}
.focus-report .news-box .item p:nth-last-child(2) {
  font-size: 1.4rem;
  font-weight: bold;
}
.focus-report .news-box .item p:last-child {
  line-height: 175%;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}
.focus-report .news-box .owl-nav {
  font-size: 3rem;
  margin-top: 0;
  position: absolute;
  width: 100%;
  top: 45%;
  left: 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .focus-report .news-box .owl-nav {
    font-size: 1.5rem;
    top: 47.5%;
  }
}
@media (max-width: 769px) {
  .focus-report .news-box .owl-nav {
    font-size: 1.5rem;
    padding: 10px 0;
  }
}
.focus-report .news-box .owl-nav button.owl-prev {
  position: absolute;
  left: 0;
  background: #83cce2 !important;
  margin: 0 !important;
  color: #fff !important;
  border-radius: 0 !important;
}
.focus-report .news-box .owl-nav button.owl-next {
  position: absolute;
  right: 0;
  background: #83cce2 !important;
  margin: 0 !important;
  color: #fff !important;
  border-radius: 0 !important;
}
@media (max-width: 769px) {
  .focus-report .ad-box {
    margin-top: 1.5rem;
  }
}
.focus-report .index-title {
  font-size: 1.4rem;
  font-weight: bold;
  padding: 0 15px;
}
.focus-report .index-maintext {
  padding: 0 15px;
  line-height: 175%;
  color: #333;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}
.focus-report .video-box p {
  font-size: 1.25rem;
  margin: 1.25rem 0;
  display: block;
  letter-spacing: 2px;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0 25px;
}
.focus-report .video-box p:after {
  background-color: rgba(131, 204, 226, 0.5);
  content: "";
  position: absolute;
  width: 90%;
  height: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  bottom: 0;
}
.focus-report .video-box .owl-dot.active span, .focus-report .video-box .owl-theme .owl-dots .owl-dot:hover span {
  background: #fff !important;
  border: #333 solid 1px;
}

.morenews {
  font-size: 1.5rem;
  text-decoration: none;
  border: #53b765 solid 1px;
  color: #53b765;
  font-weight: bold;
  transition: all 0.5s ease;
  padding: 5px 15px;
  background: #fff;
  display: inline-block;
  letter-spacing: 2px;
}
@media (max-width: 769px) {
  .morenews {
    font-size: 1.2rem;
  }
}
.morenews:hover {
  transition: all 0.5s ease;
  background: #53b765;
  color: #fff;
}

.text-center.mt-3.mb-5 {
  position: relative;
}
.text-center.mt-3.mb-5:before {
  content: "";
  height: 1px;
  width: 42%;
  background: #53b765;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}
@media (max-width: 769px) {
  .text-center.mt-3.mb-5:before {
    width: 30%;
  }
}
.text-center.mt-3.mb-5:after {
  content: "";
  height: 1px;
  width: 42%;
  background: #53b765;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}
@media (max-width: 769px) {
  .text-center.mt-3.mb-5:after {
    width: 30%;
  }
}

.newad {
  position: relative;
}
@media (min-width: 1441px) {
  .newad img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 750px;
  }
}
@media (max-width: 769px) {
  .newad {
    margin-top: 1rem;
  }
}

.focus-box .owl-dots {
  margin-top: 15px;
}
.focus-box .owl-nav {
  margin-top: 0;
  position: absolute;
  width: 100%;
  top: calc(50% - 30px);
  transform: translateY(-50%);
}
@media (max-width: 769px) {
  .focus-box .owl-nav {
    top: calc(50% - 20px);
  }
}
.focus-box .owl-nav .owl-prev {
  float: left;
  margin-left: 15px;
  color: #fff !important;
}
.focus-box .owl-nav .owl-prev:hover {
  background: transparent;
}
.focus-box .owl-nav .owl-prev i {
  font-size: 1.6rem;
}
@media (max-width: 769px) {
  .focus-box .owl-nav .owl-prev i {
    display: none;
  }
}
.focus-box .owl-nav .owl-next {
  float: right;
  color: #fff !important;
  margin-right: 15px;
}
.focus-box .owl-nav .owl-next:hover {
  background: transparent;
}
.focus-box .owl-nav .owl-next i {
  font-size: 1.6rem;
}
@media (max-width: 769px) {
  .focus-box .owl-nav .owl-next i {
    display: none;
  }
}
.focus-box .showdown-box {
  position: absolute;
  height: 30%;
  left: 0;
  width: 100%;
  bottom: 0;
  padding-top: 15px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+75&0+0,0.9+74 */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 74%, rgba(0, 0, 0, 0.9) 75%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#00000000", endColorstr="#e6000000",GradientType=0 ); /* IE6-9 */
}
@media (max-width: 769px) {
  .focus-box .showdown-box {
    height: 50%;
  }
}
.focus-box .item a {
  text-decoration: none;
}
.focus-box .item .title {
  color: #fff;
  font-size: 2rem;
  margin: 0;
  font-weight: bold;
  text-align: center;
}
@media (max-width: 769px) {
  .focus-box .item .title {
    font-size: 1.4rem;
  }
}
.focus-box .item .text-main {
  color: #fff;
  font-size: 1.6rem;
  margin: 10px 0 0 0;
  text-align: center;
}
@media (max-width: 769px) {
  .focus-box .item .text-main {
    display: none;
  }
}
.focus-box .item .date {
  color: #fff;
  margin: 0;
  text-align: center;
  position: absolute;
  bottom: 30px;
  width: 100%;
}
@media (max-width: 769px) {
  .focus-box .item .date {
    bottom: 15px;
  }
}
.focus-box.owl-theme .owl-dots .owl-dot.active span, .focus-box.owl-theme .owl-dots .owl-dot:hover span {
  background: #fff !important;
  border: #999 solid 1px !important;
}

@media (max-width: 769px) {
  .sitemap-elselink {
    justify-content: center;
  }
}
.sitemap-elselink .col-auto a {
  color: #fff;
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 50%;
  line-height: 42.5px;
  text-align: center;
  background: #333;
  transition: all 0.5s ease;
}
.sitemap-elselink .col-auto a:hover {
  background: #53b765;
  transition: all 0.5s ease;
}
.sitemap-elselink .col-auto a svg {
  width: 55%;
}
.sitemap-elselink .col-auto a i {
  font-size: 1.4rem;
}

#sitemap {
  background: #fafafa;
  margin-top: 1.5rem;
  padding: 50px 0;
}
#sitemap .morelink {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
#sitemap .morelink li {
  border-right: #333 solid 1px;
}
@media (max-width: 769px) {
  #sitemap .morelink li {
    margin-bottom: 10px;
  }
}
#sitemap .morelink li a {
  text-decoration: none;
  color: #333;
}
#sitemap .morelink li:last-child {
  border: none;
}
@media (max-width: 769px) {
  #sitemap .col-md-6:first-child {
    text-align: center;
    margin-bottom: 1rem;
  }
}
@media (max-width: 769px) {
  #sitemap {
    padding: 25px 0;
  }
}
#sitemap p {
  margin: 0;
}
#sitemap h1 {
  font-size: 1.2rem;
  font-weight: 600;
}
#sitemap .hotlink ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-bottom: 1.5rem;
}
@media (max-width: 769px) {
  #sitemap .hotlink ul {
    margin: 0.5rem 0;
  }
}
#sitemap .hotlink ul li {
  margin-bottom: 5px;
  font-size: 0.9rem;
}
@media (max-width: 769px) {
  #sitemap .hotlink ul li {
    text-align: center;
  }
}
#sitemap .hotlink ul li:first-child {
  font-weight: bold;
  font-size: 1.2rem;
  padding-bottom: 5px;
}
@media (max-width: 769px) {
  #sitemap .hotlink ul li:first-child {
    border: none;
  }
}
#sitemap .hotlink ul li a {
  color: #333;
  text-decoration: none;
}
#sitemap .hotlink .col-md-4:last-child {
  display: none;
}

footer {
  background: #fafafa;
  text-align: center;
  border-top: #333 solid 1px;
  color: #333;
  padding: 15px 0 30px 0;
  line-height: 200%;
}
footer a {
  color: #333;
  text-decoration: none;
}
footer a:hover {
  color: #53b765;
}
footer p {
  margin: 0;
}
@media (max-width: 769px) {
  footer {
    padding: 10px;
  }
}

.modal-header {
  background-color: #83cce2;
}

.saveArticle ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.saveArticle ul li {
  padding: 5px 0;
  border-bottom: #ccc solid 1px;
}
.saveArticle ul li a {
  color: #333;
  text-decoration: none;
  transition: all 0.35s ease;
}
.saveArticle ul li a:hover {
  color: #37a3c3;
  transition: all 0.35s ease;
}
.saveArticle ul li i {
  cursor: pointer;
}

.fixed-box {
  position: fixed;
  right: 15px;
  top: 70%;
  transform: translateY(-50%);
  z-index: 10;
  display: none;
}
.fixed-box a {
  display: block;
}
.fixed-box .saveicon {
  background: #83cce2;
  width: 40px;
  height: 40px;
  color: #fff;
  text-align: center;
  line-height: 40px;
}
.fixed-box #gotop {
  background: #333;
  width: 40px;
  height: 40px;
  color: #fff;
  text-align: center;
}
.fixed-box #gotop span {
  font-size: 0.8rem;
  transform: translateY(-10px);
  display: inline-block;
}/*# sourceMappingURL=style.css.map */