

$font:1rem;
$b-color:#333;
$m-color:#b48247;
$g-color:#c7d8c6;

@mixin ulstyle(){
    padding: 0;
    margin: 0;
    list-style-type: none;
    
}


@mixin xxl() {
    
    @media (min-width:1469px) {
        @content;
    }
}

@mixin xl() {
    
    @media (min-width:1201px) and (max-width:1468px) {
        @content;
    }
}

@mixin xl-pad(){

    @media (min-width:992px) and (max-width:1200px) {
         @content;
    }
    
}


@mixin pad(){

    @media (min-width:768px) and (max-width:991px) {
         @content;
    }
    
}



@mixin mob() {
    
    @media (max-width:769px) {
        
        @content;
    }
    
    
}


@mixin lg-mob() {
    
    @media (max-width:400px) {
        
        @content;
    }

}
    
   




@mixin sm-mob() {
    
    @media (max-width:351px) {
        
        @content;
    }
    
    
}