
@charset "utf-8";
@import "system";

.loader {

    opacity: 0;
    transition: all 0.35s ease;;

    &.show {
        opacity: 1;
        transition: all 0.35s ease;;
    }
}

.list-left{
    
    @include mob(){
        position: static;
        margin-bottom: 1rem;
    }
    @include xl-pad(){
        display: none !important;
     }
    @include pad(){
       display: none !important;
    }
    &.fixed {
        position: fixed;
        max-width: 330px;
        top:0px;
       
        @include xl(){
            position: static;
            max-width: 280px;
        }
        @include mob(){
            position: static;
        }
      
    }
}

.list-right{
 min-height: 800px
}



.news-list {
     a {
         text-decoration: none
     }


    @include ulstyle();
  
    min-height: 500px;

    .list-long-ad {
        padding-bottom: 1.5rem;
        @include mob(){
            display: none;
        }
    }


  


    .news-tag {

        @include ulstyle();
      

       li {
           color: #fff;
           display: inline-block;
           background: #4abdac ;
           padding: 0px 5px;
           border: none;
           
           a {
               color: #fff;
               text-decoration: none;
               font-size: $font*0.95;
           }

          
           
           }

          

    }

    .news-date { 
        margin-top: 5px;
        color: #999;
        text-align: right;
        padding-left: 15px;
        padding-right: 15px;
        @include mob(){
            margin:  0.5rem 0;

        }
    }

    .news-title {
        font-size: $font*1.4;
        font-weight: bold;
        color: $m-color;
        padding-left: 15px;
    }
    .news-main {

    padding-left: 15px;
    padding-right: 15px;
    line-height: 175%;
    color: #666;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;


    }


    

    li {

        background: #fff;
        margin-bottom: 1rem;
        border: $m-color solid 1px;
       
      
        @include mob(){
            border: none;
            border-bottom: #ccc solid 1px;
        }
        .col-md-3 {
            padding-left: 0;
            a {

                position: relative;
                display: block;
                img {
                    @include mob(){
                        width: 100%;
                    }
                  
                }

                span {
                    background: rgba(240,133,0,.75);
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    display: block;
                    z-index: 1;
                    opacity: 0;
                    transition: all 0.35s ease;
                    
                    &:before {
                        width: 80%;
                        height: 80%;
                        border: #fff solid 1px;
                        position:absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        z-index: 2;
                        content: '';
                     
                    }

                    &:after {
                      
                     
                        position:absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        z-index: 2;
                        content: "立即閱讀";
                        color: #fff;
                        font-size:$font*1.6;
                        text-align: center;
                        font-weight: bold;
                      
                        
                    }

                    &:hover {
                        opacity: 1;
                        transition: all 0.35s ease;
                    }


                }
            }
        }
        
       
    }

    .list-long-ad {
        img {
            max-width: 1320px;
            width: 100%;
        }
       
    }


}

.breadcrumbstyle {

    .breadcrumb {

        margin-bottom: .5rem;
        a {
            color: #f08500;
            text-decoration: none;
        }

    }

}


#dpd1 , #dpd2 {
    
    text-align: center;
    padding: 6px 0;
    border-radius: 0.25rem;
    border: #6c757d solid 1px;
    @include mob(){
      max-width: 35%;
    }
}


.searchBtn {

    max-width: 24%;
    background: #6c757d;
    color: #fff;
    font-weight: bold;
   

    @include sm-mob(){
        max-width: 22%;
    }
    @include mob(){
        width: 100%;
    }
   
}
